html {
  background-color: #e4e9fd;
  /* background-image: -webkit-linear-gradient(90deg, #a683e3 50%, #e4e9fd 50%); */
  /*background: linear-gradient(65deg, #a683e3 25%, #e4e9fd 100%);*/
/*background-image: linear-gradient(to right top, #fc0345, #b4410f, #724600, #413a14, #242521);
*/
background-image: linear-gradient(to right top, #d16ba5, #c175b5, #af7ec0, #9d87c6, #8c8ec8, #768bbd, #6586af, #5981a0, #4a7084, #405f69, #3a4e51, #343c3c);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #343C3C;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #343C3C;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #343C3C;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #343C3C;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
